html,
body {
    margin: 10;
    padding: 10;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    /* display: grid;
    grid-template-columns: repeat(10, 1fr); */
}

.square {
    width: 20px;
    height: 20px;
}

.snake {
    background: green;
}

.apple {
    background: crimson;
}